repos:
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.16.3
  hooks:
  - id: gitleaks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: mixed-line-ending
    args: ["--fix=lf"]
- repo: https://github.com/espressif/conventional-precommit-linter
  rev: v1.10.0
  hooks:
    - id: conventional-precommit-linter
      stages: [commit-msg]
- repo: https://github.com/rvben/rumdl-pre-commit
  rev: v0.0.181
  hooks:
    - id: rumdl
      args: [--fix]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.6
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format
- repo: https://github.com/AleksaC/hadolint-py
  rev: v2.12.1b3
  hooks:
    - id: hadolint

minimum_pre_commit_version: 3.3.0
default_install_hook_types: [pre-commit, commit-msg]
